*{
  margin: 0px;
  padding:0px;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&family=Inter:wght@300&family=Lato:wght@300&family=Oswald:wght@300&family=Poppins:wght@200&family=Press+Start+2P&family=Roboto+Slab:wght@200;300&family=Roboto:wght@100&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&family=Glegoo&family=Inter:wght@300&family=Lato:wght@300&family=Oswald:wght@300&family=Poppins:wght@200&family=Press+Start+2P&family=Roboto+Slab:wght@200;300&family=Roboto:wght@100&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&family=Glegoo&family=Inter:wght@300&family=Lato:wght@300&family=Oswald:wght@300&family=Poppins:wght@200&family=Press+Start+2P&family=Roboto+Slab:wght@200;300&family=Roboto:wght@100&family=Tilt+Prism&display=swap');
.skeleton::before {
  content: "";
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  animation: skeleton-loading .3s linear  alternate;
  border-radius:4px;
}

.skeleton-courseimg::before{
  content: "";
  display: block;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  animation: skeleton-loading .3s linear  alternate;;
}

@keyframes skeleton-loading {
  0%{
    background-color: hsl(202, 7%, 32%);
  }
  100%{
    background-color: hsl(201, 11%, 75%);
  }
}

.home{
  background-color: #0A171C;
}

/* Header */
.login-header{
  height:100px;
  z-index:6;
}
.blur-elements{
  z-index:1;
 
}
@keyframes fadecolor {
  0%{
    height:400px;
    width:400px;
  }
  100%{
    height:300px;
    width:300px;
  }
  
}
/*blur elements  */
#element-1{
  height:300px;
  width:300px;
  background-image: radial-gradient(rgb(230, 235, 235),rgb(21, 142, 134),rgba(100, 239, 195, 0.377),rgba(100, 239, 195, 0.377),rgba(244, 244, 244, 0.459));
  z-index:3;
  border-radius:50%;
  top:400px;
  left:30px;
  animation:fadecolor 3s ease-in-out alternate infinite;
}
#element-2{
  height:300px;
  width:300px;
  /* background-color: #0bfcac; */
  background-image: radial-gradient(rgb(230, 235, 235),rgb(21, 142, 134),rgba(100, 239, 195, 0.377),rgba(100, 239, 195, 0.377),rgba(244, 244, 244, 0.459));
  z-index:3;
  border-radius:50%;
  top:160px;
  right:30px;
  animation:fadecolor 3s ease-in-out alternate infinite;
}



/* Main section */

.home-main-sec{
  min-height:100vh;
  padding-top:100px;
  
}
.main{
  z-index:4;
  height:100vh;
  backdrop-filter:blur(10px);
  font-family: 'Glegoo', serif;
}
.main-sec>h3{
  font-size:55px;
}
.main-sec>h1{
  font-size:65px;
}


.form-control,.getstarted{
  border-radius:0px !important;
  line-height:25px;
  backdrop-filter:blur(5px) !important;  
}
.form-control{
  background-color: transparent !important;
  color:white !important;
  text-shadow:1px 1px 5px #fff !important;
  font-size:22px;
}
label{
  color:white;
}
.form-floating{
  width: 640px;
  color:white !important;
  text-shadow:1px 1px 5px #fff !important;
}
.getstarted{ 
  background-color: #09b5e5;
  border:none;
  padding:17px;
  width:30%;
  font-size:19px;
} 
.getstarted:hover{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  transition: all 0.2s ease;
  font-weight: 700;
}
.getstarted:active{
  background-color: #09b5e5;
}

@media(max-width:767px){
  .home-main-sec{
    min-height: 60vh;
  }
  .main{
    display:flex;
    justify-content: center;
    width:100%;
    min-height:70vh;
    
  }
  .main-sec>h1{
    font-size:45px;
    text-align: center;
  }
  .main-sec>h3{
    font-size:30px;
  }
  .form-floating{
    width: 300px;
  }
  .input-sec{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
  }
  .getstarted{
   width:40%; 
  }
  #element-1{
    height:100px;
    width:100px;
    top:470px;
    left:5px;
    animation:fadecolor 3s ease-in-out alternate infinite;
  }
  #element-2{
    height:100px;
    width:100px;
    right:6px;
    animation:fadecolor 3s ease-in-out alternate infinite;
  }
  @keyframes fadecolor {
    0%{
      height:150px;
      width:150px;
    }
    100%{
      height:100px;
      width:100px;
  }
}
}



/* Home Course section */
.course-main{
  background-image:url("https://cdn01.alison-static.net/public/html/site/img/homepage/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
}
.course-1-left{
  width:60%;
}
.course-1-right{
  width:70%;
  min-height:100vh;
  background-image:linear-gradient(85deg,#76bb399f,#56ae685a);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.home-course-card {
  width:220px;
  background-color: #ffffff;
  height:180px;
  border-radius:15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.home-course-card:hover{
  transform: scale(1.1);
}

.course-popular-main{
  min-height: 80vh;
}

.home-course-items{
  border-radius:20px;
}
@media(max-width:1179px){
  .course-main{
    flex-wrap: wrap;
  }
  .course-1-left,
  .course-1-right{
    width:100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
@media(max-width:567px){
  .home-course-card{
    width:40%;
    height:200px;
  }
}
@media(max-width:397px){
  .home-course-card{
    width:40%;
  }
  .home-course-card>span{
    text-align: center;
  }
}



/* Popular courses */
.home-pop-course-item{
height:100%;
width:390px;
background-color: #56ae68f6;
border-radius:10px;
}
.home-pop-course-item>img{
  width:100%;
  height:200px;
  border-radius:6px;
}
.course-desc {
  font-size:17px;
  color:rgb(0, 0, 0);
}


/* Footer */
.footer-section{
  background: linear-gradient(85deg,#76bb399f,#56ae685a);
}
.swiper-pagination{
  bottom:-5px !important;
}
.footer-desc >div{
  border-right:4px solid white;
}



/* LOGIN COMPONENT */
.main-home-pg{
  min-height:100vh;
  
}
.log-sec{
  width:40%;
  background-color: #0A171C;
}
.log-bg{
  background-image: url("https://images.unsplash.com/photo-1545670723-196ed0954986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  width:60%;
  background-repeat: no-repeat;
  background-size: cover;

}
.login-section{
  border-radius:4px;
  color:white;

}
.alert-box{
  font-size:13px;
}
.login{
  background-color: rgb(37, 37, 37) !important;
  color:#ffffff !important;
  border-bottom: 3px solid rgb(0,226,220) !important;
  border:transparent;
  border-radius:6px;
}
.disabled{
  pointer-events: none;
  opacity:0.4;
}
.manage-acc-sec{
  right:20px;
  top:40px;
  cursor:pointer;
}
.cr-accbtn{
  background-color: rgb(0,226,220);
  width:340px;
  border-radius:20px;
  transition: all 0.3s ease-in-out;
}
.cr-accbtn:hover{
  background-color: rgba(0, 226, 218, 0.612);
}
.cr-accbtn:active{
  transform: translateY(1px);
}
@media(max-width:797px){
  .log-sec{
    width:100%;
  }
  .log-bg{
    display: none;
  }

}

@media(max-width:567px){
  .login-section{
    width:80%;
    height:60%;
    top:50%;
  }
  .main-home-pg{
    height: 100%;
  }
}



/* USER HOME PAGE */

.theme-controller{
  right:10px;
  top:10px;
  font-size:34px;
  color:white;
  cursor:pointer;
}

.user-homepg-section{
  min-height:100vh;
  font-weight:'Roboto',sans-serif;
  background-color: #0A171C;

}
#dark{
  background-color: #0A171C;
  color:white;
  transition: all 0.2s ease-in;
}
#light{
  background-color: wheat;
  color:black;
  transition: all 0.2s ease-in;
}
.logo{
  font-size:30px;
  margin-top:20px;
  position: relative;
  top:10px;
  left:-1px;
  /* color:rgb(255, 255, 255) !important; */
  cursor:pointer;
  font-family: 'Tilt Prism';
  /* text-shadow: 15px -5px 15px rgba(255, 255, 255, 0.51);
  text-shadow: 15px -5px 15px rgba(31, 30, 30, 0.51); */
}



.user-header-section{
  display:flex;
  width:18%;
}
.mob-header{
  display:none;
}
.category-title:hover{
border-bottom:1px solid blue ;
}
.user-menu,.user-menu>a{
  font-size:16px;
  font-weight:300;
}
.prem-card{
  border-radius:20px;
  background: linear-gradient(85deg,#76bb399f,#2fcd4fc8);
  width:250px;
  height:260px;
  bottom:0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.prem-btn {
  border-radius: 50%;
  background-color: #1042f7;
  left:35%;
  top:-10%;
  font-size: 20px;
  padding:18px 26px;
  border:transparent;
  transition: all 0.2s ease-in-out;
}
.prem-btn:hover{
  background-color:#2a2ad6; ;
}

.prem-img{
  bottom:0;
  left:25%;
}
.prem-msg{
  font-size:24px;
  text-align: center;
}


.user-mainpg-section{
  height:650px;
  width:60%;
  margin:60px 30px;
  background: linear-gradient(85deg,#7de1259f,#56ae685a);
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.user-mainpg-section::-webkit-scrollbar{
  width:4px;
  background-color: #0A171C;
}
.user-mainpg-section::-webkit-scrollbar-thumb{
  width:11px;
  background-color: #02a2e1;
}

.toppick-item{
  min-width:100%;
  border:1px solid black;
  height:200px;
  background-color: wheat;
  z-index:4;
  
}
.course-img{
  width:40%;
  background-size: cover;
  background-position: center;
}



/* Main sec */

.carousel-sec{
  width:100%;
  height:300px;
}

.userbanner-sec{
  height:250px;
  min-width: 100%;;
  border-radius:0px;
  background-size: cover;
}
#img1{
  background-image:linear-gradient(115deg,rgba(54, 125, 94, 0.402),rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.607)),url(https://cdn.dribbble.com/users/1624253/screenshots/16795522/media/4079a3135da026820ae5be66f724b35f.png?compress=1&resize=1000x750&vertical=top)
}
#img2{
  background-image:linear-gradient(115deg,rgba(54, 125, 94, 0.402),rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.607)),url(https://cdn.dribbble.com/users/1187002/screenshots/14959792/media/9959637980ba12af8d58d6a9d35ef31b.jpg?compress=1&resize=1000x750&vertical=top)
}
#img3{
  background-image:linear-gradient(115deg,rgba(54, 125, 94, 0.402),rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.607)),url(https://i.pinimg.com/originals/e6/13/60/e6136017038ac22c4b30a2998c37b334.jpg)
}
.userbanner-sec>video{
  position:absolute;
  top:0;
  left:0;
  max-width: 50%;
  min-height: 0%;
  object-fit: cover;
}
.course-detail-sec{
  height:300px;
}
.course-videothumb{
  height: 200px;
}
.swiper-pagination-bullet{
  background-color: #09b5e5;
}
.swiper-pagination-bullet-active {
  background-color: #f1fc18 !important;
}
.swiper-button-prev,.swiper-button-next {
  color:yellow !important;
  font-size:16px  !important;
  background-color:rgb(18, 73, 128) !important;
  padding:20px !important;
  border-radius:50% !important;
}
.swiper-button-prev{
  left:0px !important;
}

.swiper-button-prev::after,.swiper-button-next::after{
  font-size: 13px !important;
  font-weight: bold !important;;
}

.swiper-button-next {
  color:yellow !important;
}

.user-activities{
  border-radius:20px;
  height:200px;
}

@media(max-width:968px){
  .user-header-section{
    display: none;
  }
  .mob-header{
    display: block;
  }
  .user-mainpg-section{
    width:100%;
    margin-top:100px;
    margin:70px 30px;
    overflow-y: scroll;
  }
  .user-mainpg-section::-webkit-scrollbar{
    width:5px;
    background-color: #0A171C;
  }
  .toppick-item{
    flex-wrap: wrap;
    height:350px;
  }
  .course-img{
    width:100%;
    height:200px;
  }
  .course-desc>h3{
    font-size:16px;
  }
}

/* Course Component */

.search{
  right:10px;
  top:10px;
}

.course-sec{
  padding-top: 10px;
}
.courses-pg-item{
  height:300px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color:#0A171C;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.courses-pg-item:hover{
  background-image: linear-gradient(85deg,rgba(29, 239, 176, 0.591),rgba(216, 231, 49, 0.432));
  border:1px solid black;
  transition: all 0.3s ease-in-out;
}
.course-title{
  font-size:16px;
  font-weight:500;
}
.explore-btn,.cart-btn{
  border: 2px solid #1A1A1A;
  border:3px solid rgb(0, 0, 0);
  border-radius: 4px;
  color: #3B3B3B;
  cursor: pointer;
  display: flex;
  background:linear-gradient(85deg,#76bb399f,#2fcd4fc8) ;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  touch-action: manipulation;
}
.explore-btn:disabled {
  pointer-events: none;
}

.explore-btn:hover {
  color: #000000;
  background-color: #eae619;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.cart-btn:hover {
  color: #ffffff;
  background-color: #e92a19;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.explore-btn:active ,.cart-btn:active{
  box-shadow: none;
  transform: translateY(5px);
}
.courses-pg-item>img{
  width:100%;
  height:150px;
}

.btn-sec{
  bottom:20px;
}

@media(max-width:978px){
  .courses-pg-item{
    width:200px;
    height:240px;
  }
}


/* COURSE DETAIL COMPONENT */
.course-maintitle{
  background:#0A171C;
  padding:50px 60px;
}

.coursetitle-img{
  width:400px;
  border-radius:10px;
  box-shadow:4px 4px 10px black;
}
.maintitle-right{
  width:300px;
  height:200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.playbtn{
  width:100%;
  height:100%;
  transition: all 0.2s ease-in-out;
  opacity:0;
}
.playbtn:hover{
  background-color: #0000009b;
  opacity:1;
}
.fa-play{
  padding:8px 10px;
  color:white;
  position: absolute;
  top:50%;
  left:50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
 
.learn-btn{
  bottom:10px;
  bottom:20px;
  background-color: rgb(46, 5, 193);
  color:rgb(255, 255, 255);
  border-radius:4px;
  border:none;
  transition:all 0.2s ease-in-out;
}

.learn-btn:hover{
  background-color:rgb(14, 106, 198) ;
}

.course-class-detail{
  padding:50px 80px;
  backdrop-filter:blur(30px);
  height:500px;
  overflow-y: scroll;
}

.course-class-detail::-webkit-scrollbar{
  width:5px;
}
.course-class-detail::-webkit-scrollbar-thumb{
  width:10px;
  background-color: red;
}


/* Search component */
#searchcourse-item{
  width:250px;
  /* animation:fade 0.5s ease-in-out; */
}

@keyframes fade {
  from{
    transform:scale(3);
    opacity:0.4;
  }
  to{
    transform:scale(1);
    opacity:1;
  }
}


/* CART COMPONENT */

.toast:not(.show){
  display:block !important
}
.toast{
  bottom:50px;
  right:50px;
  z-index:7;
  background-color:#2eaa0f
}

.remove-cart{
  color: #d111e2;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size:20px;
  font-weight:600;
  
}

.remove-cart:hover{
  color:#062349
}


/* Orders Component */

.modal-backdrop {
  background-color: #000000ae ;
  backdrop-filter: blur(3px);
}

.order-modal{
top:50%;
left:50%;
transform: translate(-50%, -50%);
position:absolute;
background-image:linear-gradient(85deg,#76bb39,#56ae68);
width:60%;
height:70%;
border-radius:10px;
}

.back-btn{
  bottom:10px;
  right:10px;
  background:linear-gradient(73deg,rgba(224, 51, 51, 0.895),rgb(241, 61, 52),rgb(195, 59, 35)) !important;
  color:white;
}
.order-cart-items{
  height:300px;
  overflow-y: scroll;
}
.order-cart-items::-webkit-scrollbar{
  width:4px;
}
.order-cart-items::-webkit-scrollbar-thumb{
  width:8px;
  background-color: #000000;
}
.payment-sec{
  z-index:5;
}

.order-right{
  background-color: wheat !important;
  border-radius: 10px;
}

.cost{
  font-size:26px;
}